# Arquivos de Sistema
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Editores e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs e Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.cache/

# Temporários do Windows
*.tmp
*.temp
